* {
    font-family: "montserrat";
}

.tags{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.tags-list {
    justify-content: flex-start;
    color: white;
    background-color: #FF6060;
    border-radius: 10px;
    padding: 5px 15px;
    text-align: center;
    margin-right: 5px;
}

@media screen and (max-width: 699px) {
.tags ul {
    justify-content: flex-start;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    flex-wrap: wrap;
  }
  .tags li {
    width: 95px;
    margin-top: 5px;
  }
}